@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f5f5f5;
  }
}

body {
    @apply bg-[#121212] text-[#f5f5f5];
  }

  input {
    @apply bg-[#1E1E1E] border-[#333333] text-[#f5f5f5] placeholder-[#555555];
  }

  button {
    @apply bg-[#D4AF37] text-[#f5f5f5] hover:bg-[#FFD700] active:bg-[#996515] dark:bg-[#D4AF37] dark:hover:bg-[#FFD700] dark:active:bg-[#996515];
  }
}

@layer components {
  .font-vazir {
    font-family: var(--font-vazir);
  }

  .card {
    @apply bg-[#1A1A1A] border border-[#333333] rounded-xl;
  }

  .success-text {
    @apply text-[#10B981];
  }

  .error-text {
    @apply text-[#EF4444];
  }

  .warning-text {
    @apply text-[#F59E0B];
  }

  .info-text {
    @apply text-[#3B82F6];
  }

  .secondary-text {
    @apply text-[#A1A1AA];
  }
}
